* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: turquoise;
}

#game-board-grid {
    width: 95vmin;
    height: 95vmin;

    background-color: white;

    display: grid;
    grid-template-columns: repeat(35, 1fr);
    grid-template-rows: repeat(35, 1fr);
}

.snake {
    background-color: #f61568;
    border: 1px solid black;
}

.food {
    background-color: orange;
    border: 1px solid black;
}